# Environment variables declared in this file are automatically made available to Prisma

## See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

## Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server and MongoDB (Preview)

## See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://claroline:claroline@127.0.0.1:3307/claroline"

MAILGUN_API_KEY=""

MAILER_API_KEY=""

SMS_SENDER_TOKEN=""

EVALUATIONS_URL="http://localhost:3001"
CLAROLINE_API_URL="http://localhost:8088/apiv2/"

# Local email testing
USE_MAILHOG="false"
MAILHOG_HOST="127.0.0.1"
MAILHOG_PORT="1025"

## NODE_TLS_REJECT_UNAUTHORIZED=0
